.linkIn {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}
    
main {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.grow-main {
    padding-left: 100px;
    width: 100%;
    background-image: url(../images/backs/back9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.grow-line { 
    display: flexbox;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    width: 100%;
}

.grow-vegname {
    display: inline;
    width: 100%;
    margin-top: 50px;
}

.harv-main {
    display: flex;
    padding-left: 100px;
    width: 100%;
    background-image: url(../images/backs/back9.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}