.grow-main {
    margin-left: 100px;
    width: 100%;
    background-image: url(../images/backs/back9.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.grow-line {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.grow-vegname {
    margin-top: 50px;
}