.harv-main {
    padding-left: 100px;
    width: 100%;
    background-image: url(../images/backs/back9.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.harv-form {
    width: 1000px;
}