html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "feed"
      "footer"; */
}

body > header {
    grid-area: head;
    }
    
main {
grid-area: feed;
}

body > footer {
    grid-area: footer;
    grid-column: span 1;
}

.backgr {
    width: 100%;
    background-image: url(../images/back8.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
}

.title {
    display: inline-block;
    width: 100%;
    padding: 50px;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    color: darkgreen;
}

.mainlinks {
    display: inline-block;
    width: 100%;
    padding: 50px;
    color: black;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 200px;
}

.link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}