.plant-main {
    padding-left: 100px;
    width: 100%;
    background-image: url(../images/backs/back9.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.plant-ttl {
    text-align: center;
    margin: 20px;
    font-size: 35px;
    color: darkgreen;
}

.planting {
    display: inline-block;
    float: left;
    width: 100%;
}

.sodinti {
    color: seagreen;
    font-weight: bold;
}